@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .animate-fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }


  @keyframes delete {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      background-color:  rgb(254 202 202);
      border-color: rgb(239 68 68);
      color: rgb(239 68 68);
    }
  }

  .animate-delete {
    animation: delete 0.5s ease forwards;
  }

  @keyframes complete {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      background-color: rgb(187 247 208);
      border-color: rgb(34 197 94);
      text: rgb(34 197 94);
    }
  }

  .animate-complete {
    animation: complete 0.5s ease forwards;
  }
